*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
 }

.ads-section{
    width: 100%;
    height: 500px;
    padding: 3rem 10rem;
    background-color: white;
   
}
.inner-section{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;

}
.img-section1{
    width: auto;
    height: 100%;
}
.img{
    height: 100%;
    object-fit: contain;
}
.img-section2{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1;
    
}
.inner-img-section2{
    height: 49.9%;
}


@media(max-width: 600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
      
    }
    .ads-section{
        width: 100%;
        height: auto;
        padding: 0px 10px;
        margin-bottom: 5px;
        background-color: white;
       
    }
    .inner-section{
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    .img-section1{
        width: auto;
        height: 100%;
    }
    .img{
        height: 100%;
        object-fit: contain;
    }
    .img-section2{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1;
        margin-top: 15px;
    }
    .inner-img-section2{
        height: 49.9%;
    }
}











/* ////////////////////////////////////////////////////// */
